{% extends 'base_list.html' %}

{# 导航栏 #}
{% block navbar %}
    <li class="active"><a href="{% url 'apis_manage' %}">api用例</a></li>
    <li><a href="{% url 'apitest_manage' %}">流程接口</a></li>
    <li><a href="{% url 'appcase_manage' %}">app用例</a></li>
    <li><a href="{% url 'webcase_manage' %}">web用例</a></li>
{% endblock %}

{# 搜索和添加功能 #}
{% block search_add %}
    <button type="submit" class="btn btn-default navbar-btn">
        <a href="{% url 'apiinfos_manage' %}?apis.id={{ apis.id }}" style="color: rgb(51, 51, 51);">刷新</a>
    </button>
{% endblock %}

{# 表格头部 #}
{% block thead %}
    <tr>
        <th>模块：{{ apis.apiname }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            测试负责人：{{ apis.apitester }}
        </th>
    </tr>
{% endblock %}

{# 表格主体 #}
{% block tbody %}
{% endblock %}

{# 显示数量 #}
{% block count %}
{% endblock %}

{# 翻页 #}
{% block pager %}
{% endblock %} 

{# 额外内容 #}
{% block else %}
    {% for apisinfo in apiinfos %}
        {% if apisinfo.api.id == apis.id  %}
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="#{{ apisinfo.id }}" data-toggle="collapse">{{ apisinfo.apiname }}</a>
                        </h3>
                    </div>
                    <div id="{{ apisinfo.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <!-- <form class="bs-example bs-example-form" role="form"> -->
                                <div class="input-group">
                                    <span class="input-group-addon url">&nbsp;&nbsp;&nbsp;&nbsp;URL&nbsp;地&nbsp;址：</span>
                                    <input type="text" class="form-control" value="{{ apisinfo.apiurl }}">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon param">请求PARAM：</span>
                                    <input type="text" class="form-control" value="{{ apisinfo.apiparamvalue }}">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon json">请求数据JSON：</span>
                                    <input type="text" class="form-control" value="{{ apisinfo.apijson }}">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon method">请求方法：</span>
                                    <input type="text" class="form-control" value="{{ apisinfo.apimethod }}">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon except">响应数据JSON：</span>
                                    <input type="text" class="form-control" value="{{ apisinfo.apiresponse }}">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon result">自动化测试结果：</span>
                                    {% if apisinfo.apistatus == 1 %}
                                        <input type="text" class="form-control" style='color:green' value="{{ apisinfo.apistatus }}">
                                    {% else %}
                                        <input type="text" class="form-control" style='color:red' value="{{ apisinfo.apistatus }}">
                                    {% endif %}                                
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon update-time">执行时间：</span>
                                    <input type="text" class="form-control" value="{{ apisinfo.create_time }}">
                                </div>
                                <div>
                                    <br>
                                    <button class="test">测试</button>
                                </div>
                                <div>
                                    测试结果：<span class="result">unkonwn</span>
                                </div>
                                <div>
                                    实际返回数据：<pre class="response">unkonwn</pre>
                                </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        {% endif %}
    {% endfor %}
    <script>
        // json对象转url格式，如{'xxx':'xxx','xxx':'xxx'}转为xxx=xxx&xxx=xxx   
        // data为json对象
        function parseParams(data) {
            try {
                var tempArr = [];
                for (var i in data) {
                    var key = encodeURIComponent(i);
                    var value = encodeURIComponent(data[i]);
                    tempArr.push(key + '=' + value);
                }
                var urlParamsStr = tempArr.join('&');
                return urlParamsStr;
            } catch (err) {
                return '';
            }
        }
        //HTML加载完运行的函数
        $(function(){
            // 格式化API参数，并显示
            // 收到测试API
            $("button.test").click(function(){
                var method,url,json,result,response
                alert("开始")
                $(this).parent().prevAll().each(function(){
                    if ($(this).find('span').attr("class")=="input-group-addon method"){
                        method=$(this).find('input').val()
                    }
                    if ($(this).find('span').attr("class")=="input-group-addon url"){
                        url="https://www.wukoon-app.com"+$(this).find('input').val()
                    }
                    if ($(this).find('span').attr("class")=="input-group-addon json"){
                        json=$(this).find('input').val()
                        if (json!="None"){
                            json=JSON.parse(json)
                            $.each(json,function(key, val){
                                if (val=="NOW"){
                                    json[key]=Date.parse(new Date())/1000
                                }
                            })
                            json=JSON.stringify(json)
                        }
                    }
                    if ($(this).find('span').attr("class")=="input-group-addon param"){
                        param=$(this).find('input').val()
                        if (param!="None"){
                            param=parseParams(JSON.parse(param))
                            param="?"+param
                        }
                    }
                    if ($(this).find('span').attr("class")=="input-group-addon except"){
                        except=$(this).find('input').val()
                        except=JSON.parse(except)
                    }
                })
                $(this).parent().nextAll().each(function(){
                    if ($(this).children().attr("class")=="result"){
                        result=$(this).children()
                    }
                    if ($(this).children().attr("class")=="response"){
                        response=$(this).children()
                    }
                })
                if (param!="None"){
                    url=url+param
                }
                $.ajax({
                    url:url,
                    type:method,
                    data:json,
                    contentType:"application/json;charset=utf-8",
                    success:function(data,status){
                        $.each(except,function(key, val){
                            if (except[key]!=data[key]){
                                status="false"
                            }
                        })
                        if (status!="success"){
                            result.css({"color":"red"})
                        }
                        else{
                            result.css({"color":"green"})
                        }
                        result.text(status)
                        response.text(JSON.stringify(data,null,4))
                    }
                })
            })
        })
    </script>
{% endblock %}