<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自动化测试汇总报告</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body role="document">
    <!-- 导航栏-->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-sm">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">自动化测试平台</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-link"><a href="/apis_manage/">单一接口测试</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="nav-link">{{user}}</a></li>
                        <li><a href="/logout/" class="nav-link">退出</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="row" style="padding-top: 55px;">
        <div class="col-md-11">    
            <table class="table table-striped">
                <div style="position:absolute;  right:10px; width:10px; ">
                    <tr><th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>单一接口扫描-自动化测试汇总报告</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>用例总数</th>
                        <td>{{ apiscounts }}</td>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr> {# 前端读取定义的变量#}
                    <tr>
                        <th>通过</th>
                        <td>{{ apis_pass_counts }}</td>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr> 
                    <tr>
                        <th>不通过</th>
                        <td><a style='color:red'>{{ apis_fail_counts }}</a></td>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>               
                </div>
            </table>       
        <!-- 单一接口测试用例-->
        <table class="table table-striped">
            <thead>      
                <tr>
                    <th>失败接口列表</th>
                <tr>
                    <th>ID</th>
                    <th>产品</th>
                    <th>用例名称</th>
                    <th>URL地址</th>
                    <th>参数=值</th>
                    <th>方法</th>
                    <th>预期</th>
                    <th>测试结果</th>
                    <th>执行时间</th>
                </tr>
            </thead>
            <tbody>
                {% for apis in apiss %}
                <tr>
                    {% if apis.apistatus == 0 %}
                    <td>{{apis.id}}</td>
                    <td>{{ apis.Product.productname }}</td>
                    <td>{{ apis.apiname }}</td>
                    <td>{{ apis.apiurl }}</td>
                    <td>{{ apis.apiparamvalue }}</td>
                    <td>{{ apis.apimethod }}</td>
                    <td>{{ apis.apiresult }}</td>
                    <td><a style='color:red'>{{ apis.apistatus }}</a></td>
                    <td>{{ apis.create_time }}</td>                                     
                    {% endif %}               
                </tr>
                {% endfor %}
            </tbody>
        </table>      
        </div>
    </div>
</body>
</html>