<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>autotestplat</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>自动化平台测试开发</title>
</head>
<body style="background: #eee">
    <!-- 导航栏-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="border-radius: 0">
        <div>
            <ul class="navbar-nav" style="margin-top: 0">
                <li class="nav-item">
                    <a class="navbar-brand nav-link active" href="/user/home/" target="_parent" id="home" style="font-size:18px;">
                        <i class="glyphicon glyphicon-home"></i>
                        自动化测试平台
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div style="padding-top: 60px">
        <table class="table table-hover">
            <tr>
                <td><a class="nav-link" href="/product/product_manage" target="mainFrame" style="font-size:18px;color:black">
                    &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-gift"></i>
                    &nbsp;产品中心
                </a></td>
            </tr>
            <tr>
                <td><a class="nav-head nav-link" 
                        href="#caseManage" 
                        style="font-size:18px;color:black"
                        data-toggle="collapse">
                    &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-star"></i>
                    &nbsp;用例管理
                    <span class="glyphicon glyphicon-chevron-down" style="font-size: 10px"></span>
                    </a>
                    <!--折叠-->
                    <div id="caseManage" class="nav nav-list collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" 
                                    href="/apitest/apis_manage" 
                                    target="mainFrame" 
                                    style="font-size:14px;color:black">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <i class="glyphicon glyphicon-star"></i>
                                    &nbsp;测试用例-api
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" 
                                    href="/apptest/appcase_manage" 
                                    target="mainFrame" 
                                    style="font-size:14px;color:black">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <i class="glyphicon glyphicon-star"></i>
                                    &nbsp;测试用例-app
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" 
                                    href="/webtest/webcase_manage" 
                                    target="mainFrame" 
                                    style="font-size:14px;color:black">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <i class="glyphicon glyphicon-star"></i>
                                    &nbsp;测试用例-web
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a class="nav-link" href="/periodic_task" target="mainFrame" style="font-size:18px;color:black">
                    &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-fire"></i>
                    &nbsp;定时任务
                </a></td>
            </tr>
            <tr>
                <td><a class="nav-link" href="/bug_manage" target="mainFrame" style="font-size:18px;color:black">
                    &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-eye-open"></i>
                    &nbsp;BUG管理
                </a></td>
            </tr>
            <tr>
                <td><a class="nav-link" href="/test_report" target="mainFrame" style="font-size:18px;color:black">
                    &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-calendar"></i>
                    &nbsp;测试报告
                </a></td>
            </tr>
            <tr>
                <td><a class="nav-link" href="/sets_manage" target="mainFrame" style="font-size:18px;color:black">
                    &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-cog"></i>
                    &nbsp;系统设置
                </a></td>
            </tr>
        </table>
    </div>
</body>
</html>